<div class="container vh-100">
  <div class="container text-center mt-2 ">
    <div class="h1">Animals</div>
  </div>
  <table class="table table-dark">
    <thead class="thead-dark text-center">
    <tr class="table-header">
      <th>Avatar</th>
      <th>Nickname</th>
      <th>Animal Type</th>
      <th>Species</th>
      <th>Age</th>
      <th>Weight</th>
      <th colspan="2" class="text-center">EDIT</th>
    </tr>
    </thead>
    <tbody class="table-tabs text-center">
    <tr *ngFor="let animal of animals">
      <td>{{animal.id}}</td>
      <td>{{animal.nickname}}</td>
      <td>{{animal.animalType}}</td>
      <td>{{animal.species}}</td>
      <td>{{animal.age}}</td>
      <td>{{animal.weight}}</td>
      <td><button class="btn btn-success justify-content-center" (click)="updateAnimal(animal.id)">Update</button></td>
      <td><button class="btn btn-danger" (click)="deleteAnimal(animal.id)">Delete</button></td>
    </tr>
    </tbody>

    <div class="col-1 mt-2">
      <button (click)="createAnimal()" class="btn btn-dark" >Create</button>
    </div>
  </table>


</div>
