<h1 class="h1 text-center">
  REGISTER A DOCTOR
</h1>
<div class="container w-75 h-75">
  <form (ngSubmit)="!doctorCreateForm.invalid && createDoctor(doctor)" #doctorCreateForm="ngForm">
    <fieldset class="form-group justify-content-center text-center">
      <label>First Name </label>
      <input type="text" [(ngModel)]="doctor.firstName" class="form-control text-center" name="firstName" required = "required" >
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Last Name</label>
      <input type="text" [(ngModel)]="doctor.lastName" class="form-control text-center" name="lastName"  required = "required"  #lastName = "ngModel">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Speciality</label>
      <input type="text" [(ngModel)]="doctor.speciality" class="form-control text-center" name="speciality" required = "required"  #speciality = "ngModel">
    </fieldset>
    <fieldset class="form-group text-center">
      <label>Age</label>
      <input type="number" [(ngModel)]="doctor.age" class="form-control text-center" name="age" required = "required"  #age = "ngModel">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Years Of Experience</label>
      <input type="number" [(ngModel)]="doctor.yearsOfExperience" class="form-control text-center" name="yearsOfExperience" required = "required"  #yearsOfExperience = "ngModel">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Email</label>
      <input type="text" [(ngModel)]="doctor.email" class="form-control text-center" name="email" required = "required"  #email = "ngModel">
    </fieldset>
    <br>
    <fieldset class="form-group text-center">
      <label>Password</label>
      <input type="text" [(ngModel)]="doctor.password" class="form-control text-center" name="password" required = "required"  #password = "ngModel">
    </fieldset>
    <br>
    <div class="btn-group">
      <button class="btn btn-success " type="submit"> SAVE </button>
      <button class="btn btn-warning" type="reset"> RESET </button>
    </div>
  </form>
</div>
