<header>
  <nav class = "navbar navbar-expand-md navbar-dark bg-dark" >
    <div><a href="https://www.linkedin.com/in/gherguț-mădălin-740999237/" class="navbar-brand logo"> EU </a></div>
    <ul class="navbar-nav">
      <li><a *ngIf="hardcodedAuthentificationService.isUserLoggedIn()" class="nav-link" routerLink="/doctors-list">DOCTORS</a></li>
      <li><a *ngIf="hardcodedAuthentificationService.isUserLoggedIn()" class="nav-link" routerLink="/animals">ANIMALS</a></li>
      <li><a *ngIf="hardcodedAuthentificationService.isUserLoggedIn()" class="nav-link" routerLink="/consultations">CONSULTATIONS</a></li>
      <li><a *ngIf="hardcodedAuthentificationService.isUserLoggedIn()" class="nav-link" routerLink="/prescriptions">PRESCRIPTIONS</a></li>
      <li><a *ngIf="hardcodedAuthentificationService.isUserLoggedIn()" class="nav-link" routerLink="/workingHours">WORKING HOURS</a></li>
      <li><a *ngIf="hardcodedAuthentificationService.isUserLoggedIn()" class="nav-link" routerLink="/users">USERS</a></li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a class="nav-link" *ngIf="!hardcodedAuthentificationService.isUserLoggedIn()"  routerLink="/login" >LOGIN</a></li>
      <li><a class="nav-link" *ngIf="hardcodedAuthentificationService.isUserLoggedIn()"  routerLink="/logout">LOGOUT</a></li>
    </ul>
  </nav>
</header>
