<header>
  <nav class = "navbar navbar-expand-md navbar-dark bg-dark" >
    <div><a href="https://www.linkedin.com/in/gherguț-mădălin-740999237/" class="navbar-brand logo"> EU </a></div>
    <ul class="navbar-nav">
      <li><a class="nav-link">DOCTORS</a></li>
      <li><a class="nav-link">ANIMALS</a></li>
      <li><a class="nav-link">CONSULTATIONS</a></li>
      <li><a class="nav-link">PRESCRIPTIONS</a></li>
      <li><a class="nav-link">WORKING HOURS</a></li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a class="nav-link">LOGIN</a></li>
      <li><a class="nav-link">LOGOUT</a></li>
    </ul>
  </nav>
</header>
